[defaults]
stdout_callback         = yaml
display_skipped_hosts   = false
display_ok_hosts        = false
show_task_path_on_failure = true
any_errors_fatal        = false
retry_files_enabled     = false
interpreter_python      = auto_silent

[yaml_callback]
result_format           = compact
show_task_path_on_failure = true
